[Unit]
Description=Check OnePlus 5 Wi-Fi every minute

[Timer]
OnBootSec=60s
OnUnitActiveSec=60s
AccuracySec=1s
RandomizedDelaySec=0
Unit=oneplus5-wifi-watchdog.service

[Install]
WantedBy=timers.target
